.dataBox {
  max-width: 150px;

  flex: 1;
  background-color: aliceblue;
  border-radius: 10px;
  max-height: 80px;
  height: 80px;
  text-align: center;
  align-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

@keyframes postFadeIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes postFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

@keyframes postGoUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100%);
  }
}

.posts {
  width: 100%;
}

.post {
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  height: 150px;
  min-height: 150px;
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
  margin-bottom: 9px;
  background-color: aliceblue;
}

.postFadeIn {
  animation: postFadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.postGoUp {
  animation: postGoUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.postFadeOut {
  animation: postFadeOut 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.post > h4 {
  margin-top: 10px;
}

.post > p {
  font-size: small;
  margin-top: 10px;
}

.postImage {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.postUserID {
  display: inline-block;
  margin-left: 10px;
}

.blog-card {
  display: inline-flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 280px;
  flex: 1;
  row-gap: 5px;
  background-color: aliceblue;
  padding-right: 5px;
  padding-left: 5px;
}

.blog-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.blog-image {
  height: 165px;
  max-width: 350px;
  width: 75%;
  align-self: center;
  margin-top: 5px;
  border-radius: 10px;
}

.blog-title {
  height: 50px;
}

.blog-description {
  height: 100px;
}

.blog-date {
  height: 25px;
  text-align: end;
}

.product-card {
  display: inline-flex;
  flex-direction: column;
  background: aliceblue;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  max-width: 210px;
  flex: 1;
  row-gap: 5px;
  padding-right: 3px;
  padding-left: 3px;
  height: 300px;
  padding-top: 5px;
  align-items: center;
}

.product-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.product-option {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  cursor: pointer;
}

.product-option-active {
  width: 28px;
  height: 28px;
  border: 1px solid black;
}

.product-options {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.product-image {
  height: 210px;
  width: 90%;
  min-width: 160px;
  border-radius: 8px;
}

.add-to-cart-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

.add-to-cart-button:hover {
  background-color: #45a049;
  transform: scaleX(1.05);
}

.cartHolder > * {
  display: inline-block;
}

.cartHolder {
  position: relative;
  width: 55px;
}

.cartHolder > h5 {
  position: absolute;
  top: 2px;
  right: 0px;
  color: #4caf50;
}
